<div class='modal' id='main-modal'>
  <div class='modal-content'>
    <h5>Loading...</h5>
    <div class='progress'>
      <div class='indeterminate'></div>
    </div>
  </div>
  <div class='modal-footer'></div>
</div>
