<!--  NAVBAR BEGIN -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <div class="row">

          <div class="col s12 m12 l4">
            <ul class="left">
              <li>
                <a href="" data-activates="slide-out" class="menu-collapse">
                  <i class="material-icons">menu</i>
                </a>
              </li>
              <li>
                <a href="#!" class="brand-logo">
                  <i class="material-icons left">favorite</i>
                  Hack2Save
                </a>
              </li>
            </ul>
          </div>

          <ul id="dropdown_institutions" class="dropdown-content">
            <% Institution.all.each do |institution| %>
              <li><a onclick="change_institution(<%= institution.id %>)"><%= institution.name %></a></li>
            <% end %>
          </ul>

          <ul class="right hide-on-med-and-down">
              <li style="min-width: 300px">
                <div class="input-field col s12">
                  <i class="material-icons prefix">search</i>
                  <input id="search" type="text" class="validate">
                </div>
              </li>
              <li style="min-width: 200px">
                <a class="dropdown-button right" href="#!" data-activates="dropdown_institutions">
                  <%= Institution.find(session[:institution]).name %>
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
          </ul>

          <script>
            function change_institution(institutionId){
              $.post('<%= set_institution_institutions_path %>', { institution_id: institutionId });
            }

            $(document).ready(function () {
              $(".dropdown-button").dropdown();
            });
          </script>

        </div>
      </div>
    </div>
  </nav>
</div>
<!-- NAVBAR END -->
