<!DOCTYPE html>
<html>
  <head>
    <title>Hack2save</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <!-- specific SCRIPTS section -->
  <script>

      // Initialize collapse button for sidebar
      $(".menu-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      // $('.collapsible').collapsible();


      // initialize selection for Filter Options
      $(document).ready(function() {
          $('select').material_select();
        });

  </script>

</html>
